h4 {
    color: palevioletred;
    font-size: 300%;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    margin: auto;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    color: rgb(218, 12, 91);
}

h1,
h2,
h3 {
    padding: 10px;
}

P {
    padding: 10px;
}

/* page fourmuler*/
textarea {
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

input {
    height: 20px;
    width: 300px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 13px 30px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.Contact {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
}

.h1 {
    text-align: center;
    margin-top: 100px;
}


.blog {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: grey;
    font-weight: 600;
    margin: 0 1.6em;
}


nav a:hover {
    color: blueviolet;
}


.colonneheader {
    display: grid;
    margin-top: 100px;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding-left: 25px;
}

.linksheader {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.verticalheader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.imageheader {
    display: flex;
    align-items: center;
    padding: 25px;
}




/*  artile en grid et text*/
.article {
    display: grid;
    margin-top: 100px;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 25px;

}

.text {
    padding-left: 35px;
}

.text h3 {
    color: rgb(218, 12, 91);
    font: 1.5em sans-serif;
}

.text a {
    color: rgb(218, 12, 91);
}



.colonnefooter {
    display: grid;
    margin-top: 100px;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 25px;
}


.linksfooter {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.verticalfooter {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.imagefooter {
    display: flex;
    align-items: self-start;
    padding: 25px;
}

.imagefooter {
    display: flex;
    align-items: center;
    padding: 25px;
} 

/* GENERAL */
*{
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: Roboto;
    font-weight: 300;
    font-size: .9rem;
    line-height: 1.5;
  }
  
  a{
    text-decoration: none;
    color: #4472C4;
  }
  
  a:hover{
    text-decoration: underline;
  }
  
  p{
    margin: 0 0 1rem;
  }
  
  h1{
    margin: 0 0 1rem;
    font-size: 2.5rem;
    margin-bottom: .5rem;
  }
  
  h2{
    margin: 0 0 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .text-blue{
    color: #4472C4;
  }
  
  .text-darkblue{
    color: #002060;
  }
  
  .text-uppercase{
    text-transform: uppercase; 
  }
  
  .icon{
    margin-right: .5rem;
  }
  
  .cv-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "left-column right-column right-column";
    width: 1200px;
    margin: 100px auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .section{
    margin-bottom: 1.5rem;
  }
  
  /* LEFT COLUMN */
  .left-column{
    grid-area: left-column;
    padding: 50px;
    background-color: #a39066;
    color: white;
  }
  
  .portait{
    border-radius: 50%;
    max-width: 150px;
    margin: auto;
    display: block;
    margin-bottom: 50px;
  }
  
  .skills{
    list-style-type: none;
    padding: 0;
    font-size: 1.1rem;
    letter-spacing: 1px;
    margin: 0 0 1rem;
  }
  
  /* RIGHT COLUMN */
  .right-column{
    grid-area: right-column;
    display: grid;
    grid-template-rows: 250px 1fr;
    grid-template-areas: 
      "header"
      "content";
  }
  
  /* HEADER */
  .header{
    grid-area: header;
    padding: 50px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .infos{
    columns: 2;
    list-style-type: none;
    padding: 0;
  }
  
  /* CONTENT */
  .content{
    grid-area: content;
    padding: 50px;
  }
  
  .experience-list{
    list-style-type: circle;
  }
  
  
  
  

