h4 {
    color: palevioletred;
    font-size: 300%;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    margin: auto;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    color: rgb(218, 12, 91);
}

h1,h2,h3 {
    padding: 10px;
}


P {
    padding: 10px;
}

.blog {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: grey;
    font-weight: 600;
    margin: 0 1.6em;
}


nav a:hover {
    color: blueviolet;
}



.colonneheader {
    display: grid;
    margin-top: 100px;
    grid-template-columns: repeat(2, 1fr);

    gap: 5px;
    padding-left: 25px;
}


.linksheader {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    padding: 25px;
}

.verticalheader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.imageheader {
    display: flex;
    align-items: center;
    padding: 25px;
}




 /*  artile en grid et text*/ 
.article {
    display: grid;
    margin-top: 100px;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 25px;

}

.text {
    padding-left: 35px;
}

.text h3 {
    color: rgb(218, 12, 91);
    font: 1.5em sans-serif;
}

.text a {
    color: rgb(218, 12, 91);
}


.colonnefooter {
    display: grid;
    margin-top: 100px;
    grid-template-columns: repeat(2, 1fr);

    gap: 30px;
    padding: 25px;
}


.linksfooter {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    padding: 25px;
}

.verticalfooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.imagefooter {
    display: flex;
    align-items: center;
    padding: 25px;
}